@font-face {
    font-family: 'RR';
    src: url(../fonts/Roboto/Roboto-Regular.ttf);
}
@font-face {
    font-family: 'RM';
    src: url(../fonts/Roboto/Roboto-Medium.ttf);
}
@font-face {
    font-family: 'RR';
    src: url(../fonts/Ribeye/Ribeye-Regular.ttf);
}
@font-face {
    font-family: 'GM';
    src: url(../fonts/Gelasio/Gelasio-Medium.ttf);
}